.body {
  /* background-image: url(""); */
	/* background-size : cover; */
  /* background-position : center; */
	/* background-repeat : no-repeat; */
}

.landingHeader {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

.landingHeader h1 {
  color: #FFF ;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://images.pexels.com/photos/7213434/pexels-photo-7213434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

}
.slideshow li:nth-child(2) {
  background-image: url(https://images.pexels.com/photos/135020/pexels-photo-135020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://images.pexels.com/photos/9577232/pexels-photo-9577232.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://images.pexels.com/photos/3184328/pexels-photo-3184328.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://images.pexels.com/photos/8175569/pexels-photo-8175569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btnLg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btnSuccess {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btnSuccess:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btnSuccess:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btnSuccess.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btnSuccess:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btnSuccess:not(:disabled):not(.disabled):active:focus, .btnSuccess:not(:disabled):not(.disabled).active:focus,
.show > .btnSuccess.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.black{
  color: black;
}
